* {
  margin: 0;
  box-sizing: border-box;
}

/* container */
.container {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
  margin-bottom: 10px;
  text-align: center;
}

/* background città */
.container.city1 {
  background-image: url('../img/torino.jpg');
}

.container.city2 {
  background-image: url('../img/berlin.jpg');
}

.container.city3 {
  background-image: url('../img/lisbon.jpg');
}

.container.city4 {
  background-image: url('../img/madrid.jpg');
}

.container.city5 {
  background-image: url('../img/sanfran.jpeg');
}

.container.city6 {
  background-image: url('../img/stockholm.jpeg');
}

.container.city7 {
  background-image: url('../img/istanbul.jpg');
}

/* testo città */
.container span {
  display: inline-block;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Righteous';
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
  transition: .5s;
  transition-timing-function: ease-in-out;
}

.container span:hover {
  font-size: 150px;
  text-shadow: 5px 5px #000;
  opacity: .8;
}

/* layover */
.layover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}
